body {
  background-color: #ecf0f1;
  font-family: Raleway;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.page-title {
  margin-top: 30px;
}

.button {
  position: relative;
  border: 0;
  background-color: #e1e1e1;
  font-size: 24px;
  outline: none;
  cursor: pointer;
  padding: 20px;
  margin: 20px;
  overflow: hidden;
}

.button.verticle span {
  position: relative;
  z-index: 2;
  transition: color 0.5s;
}

.button.verticle:hover span {
  color: white;
}

button.verticle::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  bottom: -100%;
  background-color: pink;
  z-index: 1;
  transition: bottom 0.5s ease;
}

button.verticle:hover::before {
  bottom: 0;
}

button.verticle::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  top: -100%;
  background-color: green;
  z-index: 1;
  transition: top 0.5s ease;
}

button.verticle:hover::after {
  top: 0;
}
