.transitions {
  width: 200px;
  height: 80px;
  background-color: black;
  margin: 0 auto;
  /* transition: property duration timing; */
  transition: background-color 2s;
}

.transitions:hover {
  background-color: blue;
}
